body{
	font-size: 14px;
	line-height: 1em;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
}

h1.title{
	font-size: 21px;
	line-height: auto;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;;
}

h2.hotel-search-subtitle{
	font-size: 30px;
	line-height: auto;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;;;	
}