html,
body{
	font-size: 14px;
	line-height: 1em;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
}

h1.title{
	font-size: 21px;
	line-height: normal;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
}

h2.hotel-search-subtitle{
	font-size: 30px;
	line-height: normal;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
}

body{
    background: #f2f2f2;
}

.central-container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 75px;
}

	/*меню*/

.main-header{
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.logo-in-navigation{
	width: 180px;
	min-height: 70px;
	position: absolute;
	display: flex; 
	background: red;
	right: 660px;
	
}

.main-navigation{
	width: 1200px;
	padding-left: 75px;
	padding-right: 75px;
	
}

.main-navigation ul {
    display: flex;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.main-navigation ul li {
	width : 100px;
	height: 100px;
	vertical-align: bottom;
	text-align: center;
}

	/*оcновная часть index*/

.main-picture{
	display: flex;
	justify-content: center;
    margin-bottom: 60px;
}

.title{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;

}

.subtitle{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

}

.reasons{
	display: flex;
	flex-direction: column;
	min-height: 1100px;
    margin-bottom: 60px;
}

.reason-with-picture {
	display: flex;
	min-height: 255px;
}

.reason-with-icon {
	display: flex;
    min-height: 330px;
	
}

.reason-without-icon {
	display: flex;
	min-height: 255px;
}
  
.reason-description {
	width: 400px;
}

.reason-picture-block {
	width: 800px;
}


.hotel-search{
	min-height: 290px;
    display: flex;
	flex-direction: column;
}

.hotel-search-title {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.hotel-search-subtitle {
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

.search-button{
	width: 570px;
	min-height: 70px;
	margin-right: auto;
    margin-left: auto;
}

.selection-dates-block{
	width: 570px;
	margin-right: auto;
    margin-left: auto;
}

.map{
	min-height: 475px;
}

	/*основная часть inner*/

.filter{
	display: flex;
    min-height: 215px;
	padding-right: 75px;
	padding-left: 75px;

}

.infrastructure{
	width: 240px;
}

.housing-type{
    margin-right: 200px;
	width: 290px;
}

.cost{
	width: 330px;
}

.sorting{
    display: flex;
	min-height: 85px;
	padding-left: 75px;
}

.results-title{
	width: 165px;
}

.results-sorting{
	width: 895px;
}

.hotels-list{
    display: flex;
    flex-direction: column;
}

 .hotel{
	display: flex;
	align-items: center;
	min-height: 150px;
}

.hotels-list-picture{
	width: 165px;
	margin-right: 30px;
}
.hotels-list-main-part{
	width: 280px;
	margin-right: 500px;
}
 
.hotels-list-main-part{
	width: 240px;
}
 
	/*подвал*/

.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}

.footer-hashtag{
	width: 240px;
}

.footer-social {
	width: 400px;
}

.footer-copyright{
	width: 240px;
}